body {
  background-color: rgb(0, 0, 0);
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: rgb(0, 0, 0);
  border-bottom: 2px solid rgb(255, 0, 0);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0px 4px 5px 2px rgba(255, 0, 0, 0.5);
  width: 100%;
}

.toolbar__logo {
  float: left;
}

.toolbar__logo img {
  height: 80px;
}

.toolbar__links {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  height: 80px;
  align-items: center;
  margin: 0;
  font-size: 18px;
}

.toolbar__links a {
  color: red;
  padding-bottom: 5px;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

.toolbar__links a:hover {
  font-family: 'Nosifer', cursive;
}

.toolbar__user {
  color: red;
  padding-right: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100px;
}

.toolbar__user img {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  border: 1px solid red;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  justify-self: right;
  margin-right: 10px;
}

.toolbar__user h2 {
  margin: 0;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: flex-end;
  margin-bottom: 3px;
}

.toolbar__user button {
  border: 1px solid red;
  background-color: black;
  color: red;
  height: 25px;
  width: 80px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  border-radius: 12px;
}

.toolbar__user button:hover {
  transform: scale(1.05);
  border-bottom: 2.5px solid red;
}

.home {
  margin: 50px auto 0 auto;
  background-color: rgb(61, 61, 61);
  width: 80%;
  box-shadow: 0px 0px 7px 3px rgba(255, 0, 0, 0.5);
  border: 2px solid rgb(255, 0, 0);
  border-radius: 8px;
  height: 400px;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}

.profile__view {
  color: red;
  margin-top: 50px;
  background-color: rgb(29, 29, 29);
  width: 400px;
  height: 500px;
  text-align: center;
  padding-top: 20px;
  border-radius: 6px;
  border: 2px solid red;
  box-shadow: 0 0 4px 1px;
  padding-bottom: 20px;
}

.profile__view h2 {
  padding-bottom: 15px;
}

.profile__view img {
  width: 250px;
  height: 300px;
  border: 1px solid gray;
}

.profile__edit {
  padding-top: 20px;
  background-color: rgb(29, 29, 29);
  margin-top: 50px;
  width: 400px;
  height: 520px;
  color: red;
  text-align: center;
  border-radius: 6px;
  border: 2px solid red;
  box-shadow: 0 0 4px 1px;
}

.profile__inputs input {
  width: 80%;
  height: 40px;
  margin-top: 10px;
  text-align: center;
  background-color: black;
  color: red;
  border: none;
  font-size: 16px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: 2px solid red;
}

.profile__inputs input::placeholder {
  color: red;
  font-size: 16px;
}

.profile__inputs input:focus {
  outline: none;
}

.profile__edit h2 {
  padding-bottom: 15px;
}

.profile__button {
  margin-top: 30px;
  margin-bottom: 5px;
  padding: 13px 60px;
  border: 1px solid red;
  border-radius: 12px;
  background-color: black;
  color: red;
  font-weight: 600;
  font-size: 17px;
}

.profile__button:hover {
  transform: scale(1.05);
  border-bottom: 3.5px solid red;
}